<!DOCTYPE html>
<html>
<head>
	<title>Shelter</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "/shared/navbar" %>
	<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
	<%= yield %>
	<%= render "/shared/footer" %>
	<%= render "/shared/modal_signup" %>
	<%= render "/shared/modal_login" %>
</body>
</html>
