<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Shelter</a>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li><a href="<%= "#{user_path(current_user)}"%>">Profile</a></li>
         <li><a href="<%= "#{edit_user_path(current_user)}"%>">Edit Profile</a></li>
         <li><a href="<%= "#{clients_path}" %>">Clients</a></li>
         <li><a href="<%= "#{new_donation_path}" %>">New Donation</a></li>
         <li><a href="<%= "#{sessions_path}" %>">Logout</a></li>
      </ul>
   </div>
</nav>
	</span>
