<% if current_user == @user%>
  <div class="container col-lg container-fluid" id="profile">
    <h3><small>Your Profile</small></h3>
    <h3>Welcome, <%= @user.first_name %>, we're so glad you stopped by.</h3>
    <div class="left-content col-md-5">
      <br>
        <div id="picture">
          <%= gravatar_for @user %>
        </div>
        <%= link_to "Edit your profile picture", "https://secure.gravatar.com/", :target => "_blank" %>
            <h5><b>First Name:</b> <%=@user.first_name %> </h5>
            <h5><b>Last Name:</b> <%=@user.last_name %></h5>
            <h5><b>City: </b> <%=@user.city %></h5>
    </div>   
    <div class="right-content col-md-6 col-md-offset-1" >
      
      <div class="page-header">
        <h2><small>Your donations</small></h2>
        <table class="reference" style="width:100%">
        <tr>
          <th>Date</th>
          <th>Transaction #</th>
          <th>Amount</th>    
        </tr>
        <% @user.donations.each do |donation| %>
        <tr>
          <td><%=  "#{donation.created_at.strftime("%m/%d/%Y")}" %></td>
          <td><%= "#{donation.transaction_id}" %></td>
          <td><%=  "$#{donation.amount/100}" %></td>    
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
  <% else %>
  <script type="text/javascript">
      window.location.href="/welcome"  // put your correct path in a string here
  </script>
<% end %>