<% if current_user == @user%>
<%= render "/shared/navbar" %>
  <div class="container-fluid">
  <div class="container" ".col-lg">
    <div class="left-content col-md-5">
      <div class="page-header">
      <h2><small>Welcome, <%= @user.first_name %></small></h2>
    </div>
    <div id="picture">
      <%= gravatar_for @user %>
    </div>
    <div class="outside-links">
      <%= link_to "Edit your image", "https://secure.gravatar.com/", :target => "_blank" %>
    </div>
      <div class="rendered-data">
        <large>First Name: </large><%=@user.first_name %><br>
        <large>Last Name: </large> <%=@user.last_name %><br>
        <large>City: </large><%=@user.city %>
      </div>
    </div>
    <div class="right-content col-md-5 col-md-offset-1" >
      <div class="page-header">
        <h2><small>Your donations</small></h2>
        <table class="reference" style="width:100%">
        <tr>
          <th>Date</th>
          <th>Transaction</th>
          <th>Amount</th>    
        </tr>
        
        <% @user.donations.each do |donation| %>
        <tr>
          <td><%=  "#{donation.created_at.strftime("%m/%d/%Y")}" %></td>
          <td><%= "#{donation.transaction_id}" %></td>
          <td><%=  "$#{donation.amount/100}" %></td>    
        </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
  </div>
  <% else %>
  <script type="text/javascript">
      window.location.href="/welcome"  // put your correct path in a string here
    </script>
<% end %>