<%= render "/shared/navbar"  %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3 class="client_name"> <%=@client.first_name %> <%=@client.last_name.chars.first %> </h3>
		</div>
		<div class="col-md-8 col-md-offset-1">
			<h3 class="client_name">About me</h3>
		</div>

	</div>
	<div class="row">
    <div class="col-md-3">
      	<div class="rendered-data">
      	
	      	<h4><span class="client_image">   <%=image_tag(@client.photo_url, :class => "client_image2") %></span></h4>
			<div class="row">
				<div class="col-md-4">
					<h5>Age: </h5>
					<h5>Children: </h5>
					<h5>City: </h5>
				</div>
				<div class="col-md-8">
					<h5> <%=@client.age %> </h5>
					<h5> <%=@client.number_of_children %> </h5>
					<h5> <%=@client.city %> </h5>
				</div>
			</div>
			
    	</div>
	</div>  	

	<div class="col-md-8 col-md-offset-1 text-justify">


			   <%=@client.bio %>  

	</div>
	</div>

</div>